body {
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
}

form div {
  display: inline-block;
}

#cart-side-bar {
  height: calc(100vh - 80px);
  width: 20vw;
  text-align: center;
  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 0;
  background-color: white;
  border-left: 1px solid rgb(73, 73, 73);
}

.add-to-cart {
  width: 80px;
  height: 50px;
  background-color: rgb(255, 187, 0);
}

.add-to-cart:hover {
  background-color: rgb(228, 170, 13);
}

.back-btn {
  color: darkblue;
  margin: 16px;
  background-color: transparent;
  border-style: none;
}

.back-btn:hover {
  color: white;
}

.cart-header {
  color: white;
  background-color: rgb(73, 73, 73);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.cart-quantity {
  border-radius: 5px;
  width: 30px;
  border-style: none;
}

.cart-quantity:hover {
  background-color: rgb(231, 230, 230);
}

.checkout {
  background-color: rgb(255, 187, 0);
  font-size: 16px;
  border-style: none;
  border-radius: 5px;
}

.checkout:hover {
  background-color: rgba(199, 154, 6, 0.973);
}

.delete {
  border-style: none;
  color: rgb(64, 124, 255);
}

.delete:hover {
  color: rgb(68, 201, 241);
  text-decoration: underline;
}

.flex-display {
  display: flex;
}

.item-name {
  font-size: 14px;
}

.link {
  color: white;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.link:hover {
  color: rgb(138, 138, 138);
}

.logo {
  margin-left: auto;
  margin-right: 45px;
}

.nav {
  margin: 0px;
  display: flex;
  height: 80px;
  width: 100vw;
  background-color: rgb(73, 73, 73);
  color: white;
  align-items: center;
}

.price {
  color: rgb(231, 138, 17);
}

.search {
  font-size: 29px;
  border-style: none;
}
.search:hover {
  background-color: rgb(230, 230, 230);
}

.search-button {
  background-color: rgba(233, 180, 8, 0.973);
  border-style: none;
  color: rgb(73, 73, 73);
}

.search-button:hover {
  background-color: rgba(199, 154, 6, 0.973);
}

.wrap {
  display: table;
}

.wrap .itemPhoto {
  padding: 10px;
  display: table-cell;
  vertical-align: left;
}

ul {
  background-position: left center;
  background-repeat: no-repeat;
  height: 105px;
  width: 621px;
  vertical-align: middle;
  display: table-cell;
  list-style-type: none;
}

img {
  max-height: 225px;
  max-width: 225px;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}
