body {
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
}

form div {
  display: inline-block;
}

#cart-side-bar {
  height: calc(100vh - 80px);
  width: 20vw;
  text-align: center;
  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 0;
  background-color: white;
  border-left: 1px solid rgb(73, 73, 73);
}

.account div {
  width: 31%;
  border: 0.5px solid rgb(212, 212, 212);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
  border-radius: 10px;
  text-align: center;
}

.account div:hover {
  background-color: rgb(223, 223, 223);
}

.account div button {
  border-style: none;
  background-color: transparent;
  font-size: 18px;
  padding: 8px;
  color: rgb(64, 124, 255);
}

.account div button:hover {
  text-decoration: underline;
}

.add-to-cart {
  width: 80px;
  height: 50px;
  background-color: rgb(255, 187, 0);
}

.add-to-cart:hover {
  background-color: rgb(228, 170, 13);
}

.admin-manage button {
  border-style: none;
  background-color: transparent;
  font-size: 18px;
  padding: 8px;
}

.ads {
  height: 260vh;
  width: 20vw;
  border-right: 0.5px solid rgb(212, 212, 212);
  display: flex;
  flex-wrap: wrap;
}

.ads img {
  width: 96%;
  height: auto;
}

.all-item-body {
  padding: 10px;
}

.all-item-body > div {
  margin-right: 20px;
  margin-left: 10px;
}

.back-btn {
  color: darkblue;
  margin: 16px;
  background-color: transparent;
  border-style: none;
}

.back-btn:hover {
  color: white;
}

.cart-header {
  color: white;
  background-color: rgb(73, 73, 73);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.cart-quantity {
  border-radius: 5px;
  width: 45px;
  font-size: 16px;
  border-style: none;
}

.cart-quantity:hover {
  background-color: rgb(231, 230, 230);
}

.category-body {
  display: flex;
  flex-wrap: wrap;
}

.category-image {
  width: 50vw;
}

.category-view {
  padding-top: 10px;
  background: linear-gradient(rgb(177, 228, 235), white);
  font-size: 20px;
}

.center {
  text-align: center;
}

.change {
  border-style: none;
  background-color: transparent;
  color: rgb(7, 119, 247);
}

.change:hover {
  text-decoration: underline;
}

.checkout {
  background-color: rgb(255, 187, 0);
  font-size: 16px;
  border-style: none;
  border-radius: 5px;
}

.checkout:hover {
  background-color: rgba(199, 154, 6, 0.973);
}

.checkout-view {
  padding-left: 30px;
  padding-right: 30px;
}

.clean-link {
  color: rgb(64, 124, 255);
  text-decoration: none;
}

.clean-link:hover {
  text-decoration: underline;
}

.contact-us {
  margin-left: auto;
  margin-right: auto;
}

.delete {
  border-style: none;
  color: rgb(64, 124, 255);
}

.delete:hover {
  color: rgb(68, 201, 241);
  text-decoration: underline;
}

.estimated-delivery-date {
  border: 1px solid rgb(73, 73, 73);
  margin: 10px;
  margin-right: 30px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
}

.filter-tab {
  width: 100vw;
  display: flex;
  border-bottom: 0.5px solid rgb(212, 212, 212);
  height: 7vh;
  font-size: 16px;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.filter-tab p {
  margin-top: auto;
  margin-bottom: auto;
}

.filter-tab .filter-element {
  margin: auto;
  font-size: 16px;
  display: flex;
}

.filter-tab select {
  margin-left: 16px;
  font-size: 16px;
  height: 30px;
}

.filter-tab select:hover {
  background-color: rgb(224, 222, 222);
}

.filter-tab button {
  font-size: 16px;
  width: 80px;
  height: 30px;
  margin-right: 40px;
  background-color: rgb(255, 187, 0);
  border-radius: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

.filter-tab button:hover {
  background-color: rgb(235, 173, 2);
}

.flex-display {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.green {
  color: rgb(27, 172, 27);
}

.item-name {
  font-size: 14px;
}

.link {
  color: white;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.link:hover {
  color: rgb(138, 138, 138);
}

.logo {
  margin-left: auto;
  margin-right: 45px;
}

.manage-order {
  padding: 10px;
  background-color: rgb(255, 187, 0);
  margin: 10px;
  border-radius: 10px;
  border-style: 0.5px solid rgb(126, 126, 126);
}

.manage-order:hover {
  background-color: rgb(228, 168, 2);
}

.nav {
  margin: 0px;
  display: flex;
  height: 80px;
  width: 100vw;
  background-color: rgb(73, 73, 73);
  color: white;
  align-items: center;
}

.orange {
  color: rgb(207, 140, 14);
}

.order-confirmation-view {
  padding: 20px;
  font-size: 18px;
}

.order-recap {
  margin-left: auto;
  margin-right: 20px;
  font-size: 18px;
}

.place-order-sidebar {
  position: fixed;
  right: 10px;
  top: 100px;
  border: 1px solid rgb(73, 73, 73);
  padding: 10px;
  color: black;
  align-items: center;
}

.place-order-button {
  text-align: center;
  font-size: 16px;
  background-color: rgb(255, 187, 0);
  border: 0.5px solid rgb(126, 126, 126);
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
}

.place-order-button:hover {
  background-color: rgba(216, 167, 7, 0.973);
}

.price {
  color: rgb(231, 138, 17);
}

.red {
  color: rgb(214, 32, 32);
}

.remove-decoration {
  color: black;
  text-decoration: none;
}

.right {
  float: right;
}

.search {
  font-size: 29px;
  border-style: none;
}
.search:hover {
  background-color: rgb(230, 230, 230);
}

.search-button {
  background-color: rgba(233, 180, 8, 0.973);
  border-style: none;
  color: rgb(73, 73, 73);
}

.search-button:hover {
  background-color: rgba(199, 154, 6, 0.973);
}

.small {
  font-size: 14px;
}

.vertical-center {
  vertical-align: center;
}

.wrap {
  display: table;
}

.wrap .itemPhoto {
  padding: 10px;
  display: table-cell;
  vertical-align: left;
  height: 100px;
  width: 100px;
}

.singleItemPhoto {
  height: 250px;
  width: 250px;
}

.single-item-in-view {
  border-bottom: 0.5px solid rgb(212, 212, 212);
  font-size: 18px;
  padding-bottom: 8px;
}

.single-item-in-view:hover {
  color: rgba(206, 173, 65, 0.973);
}

ul {
  background-position: left center;
  background-repeat: no-repeat;
  height: 105px;
  width: 621px;
  vertical-align: middle;
  display: table-cell;
  list-style-type: none;
}

/* img {
  max-height: 225px;
  max-width: 225px;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
} */

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}

.users {
  list-style-type: none;
  margin-left: 35px;
  width: 60vw;
}

#deleteUserIcon {
  padding: 0px 10px 0px 10px;
}

#reviewEntry {
  width: 450px;
  height: 150px;
}

.warning {
  padding: 2px;
  font-size: 10px;
  letter-spacing: 1px;
  background-color: red;
  color: white;
}

ul.allorders {
  vertical-align: middle;
  display: block;
}

ul.allordersdetails {
  vertical-align: text-top;
  display: block;
}
